<div class="my-book-wrapper">
  <div class="welcome-holder">
    <h1>Hey Buddy Welcome :)</h1>
    <h1>Let's Read a Book of "Myself" :)</h1>
  </div>
  <div class="mybooks">
    <h2>{{#link-to "story-of-frontend-engineer"}}Story of Front-End Engineer{{/link-to}}</h2>
    <h2><a href="google.com">A Dream</a></h2>
  </div>
</div>
{{outlet}}
